:root {
    --button-width: 20vmin;
    --button-spacing: 5vmin;
}

.board-grid {
    display: grid;
    grid-template-columns: var(--button-width) var(--button-width) var(--button-width);

    column-gap: var(--button-spacing);
}

.ttt-button {
    height: var(--button-width);
    margin-top: var(--button-spacing);
}